:root {
  --darkMain: rgba(234, 76, 137, 0.674);
  --darkSub: rgb(234, 76, 137);
}

body {
  margin: 0;
  background-color: var(--darkMain);
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: lato, sans-serif;
}
